<main></main>
<script>
  let params = new URLSearchParams(location.search)
  let id = params.get('id')
  fetch('/card/' + id)
    .then(res => res.json())
    .then(data => {
      let main = document.querySelector('main')
      main.textContent = JSON.stringify(data)
    })
</script>
